/* GLOBAL BACKGROUND */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background:
    linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)),
    url('krsna.png') no-repeat center center fixed;

    background-size: cover;
    font-family: Arial, sans-serif;
}
